<% content_for(:head) do %>
	<%= stylesheet_link_tag 'post_authorities'%>
<% end %>
<h1>Post Authorities</h1>
<% if @posts.blank? -%>
<p>
	No posts here!
</p>
<% else -%>
	<div id="actions_dashboard">
		<span>Select:</span>&nbsp;<a href="#" id="select_all_pending" class="select_all">Pending</a>, 
		<a href="#" id="select_all_expired" class="select_all">Expired</a>,
		<a href="#" id="select_all_valid" class="select_all">Valid</a>,
		<a href="#" id="select_none">None</a> | <%= will_paginate @posts %>
		<!--span>Filter:</span>
		<select id="filter_post_authorities">
			<%#= options_for_select PostAuthority.status_tokens_for_value_select %>
		</select-->
	</div>
	<table cellspacing="0">
		<thead>
			<tr>
				<th scope="col" style="width:30px;">&nbsp;</th>
				<th scope="col" class="wide">Title</th>
				<th scope="col">Rails Version</th>
				<th scope="col">Module</th>
				<th scope="col">Status</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'post', :collection => @posts %>
		</tbody>
	</table>
<% end -%>
