#actions_dashboard {
	background:#9CF;
	padding:5px;
	padding-left:10px;
}
#actions_dashboard a:link {
	text-decoration:underline;
	padding:4px;
}
a:link.active_select,a:visited.active_select {
	background:#006;
	color:white;
}

#actions_dashboard a:hover {
	text-decoration:underline;
}

table {
	margin:0px;
	font-size:1.1em;
	width:910px;
}

table thead {
	font-size:1.2em;
}

table thead th {
	text-align:center;
	padding:3px;
	padding-left:6px;
	background:#CFF;
	border-bottom:3px solid #36F;
	font-weight:bold;
	width:200px;
}

table thead th.wide {
	width:600px;
	text-align:left;
}

table td {
	text-align:center;
	padding:3px;
	border-bottom:1px solid #F93;
}

table td.post_title {
	text-align:left;
}
table tr.pending {
	background:#FF9;
}

table tr.expired {
	background:#F99;
}

table tr.valid {
	background:#CF9;
}
table td input {
	padding:0px;
	vertical-align:bottom;
}

iframe {
	width:910px;
	height:300px;
	border:1px solid black;
}