= image_tag 'logo.png'

:textile
  h1. Anyone can learn to program. 
  
  Learning resources, mentors and workshops should be freely available to everyone, whether absolute beginner or professional seeking more awesomeness.
 
  h2. RailsBridge Workshops

  Looking for information on our workshops?  Check out our whole site dedicated to <a href="http://workshops.railsbridge.org/">the RailsBridge Workshops.</a>

  h2. The RailsBridge Guidelines

  * First, do no harm. Then, help where you can.
  * Bridge the gap from aspiring developer to contributing community member, through mentoring, teaching, and writing.
  * Reach out to individuals and groups who are underrepresented in the community.
  * Collaborate with other groups with similar goals.

  h2. RailsBridge Projects

  Our members are pursuing a variety of projects in support of our mission. Email the contact person or join our mailing list to get involved:

  * "Open Workshops Project":http://wiki.railsbridge.org/projects/railsbridge/wiki/Workshops (Sarah Mei, sarahmei at gmail dot com)
  * "Rails BugMash":http://wiki.railsbridge.org/projects/railsbridge/wiki/BugMash (Dan Pickett, Dan dot Pickett at gmail dot com)
  * <a href="http://teachingkids.railsbridge.org">Teaching Ruby to Kids</a> (Sarah Allen, sarah at ultrasaurus dot com)
  * <a href="http://www.railsmentors.org">Online Mentoring</a> (Brian Hogan, bphogan at gmail dot com)
  * Code Reviews for Students (<a href="mailto:MikeG1@larkfarm.com">Mike Gunderloy</a>)
  * "RailsBridge Builders":http://builders.railsbridge.org/ (<a href="mailto:builders@railsbridge.org">Mike Breen<a/>)
  * "RailsBridge Wiki":http://wiki.railsbridge.org/ (<a href="mailto:jeffrey.schoolcraft@gmail.com">Jeff Schoolcraft</a>)

  h2. Get involved

  To succeed, we need your help! Here's what you can do to be a part of the RailsBridge vision:

  * Join the <a href='http://groups.google.com/group/railsbridge'>Google Group</a>
  * Hang with us in the #railsbridge IRC channel on <a href="http://freenode.net/">Freenode</a>
  * Help out with a current project
  * Propose new projects
  * Follow us on <a href="http://twitter.com/railsbridge">Twitter</a>
  * Work to create the community you want

%form{ :action => "http://groups.google.com/group/railsbridge/boxsubscribe" }
  %input{ :type => "hidden", :name => "hl", :value => "en" }
  %h4 Subscribe to the RailsBridge Group at Google
  %p Email address:
  %input{ :type => "text", :name => "email", :size => 35 }
  %input{ :type => "submit", :name => "sub", :value => "Subscribe"}

%h4 <a href="help">You can help!</a>

