<div id="fullWidthContainer">
  <h1>About Rails<strong>Bridge</strong></h1>

  <p>RailsBridge, Inc. is an Indiana non-profit corporation founded in 2009 that is applying for 501(c)3 tax status. Our mailing address is:</p>

  <p>
    5100 Vogel Rd. #305<br />
    Evansville, IN 47715
  </p>

   <h2><strong>Our current Board of Directors:</strong></h2>

  <ul>
    <li>Michael Gunderloy</li>
    <li>Dana Jones</li>
    <li>Sarah Mei</li>
    <li>Sarah Allen</li>
    <li>Michael Breen</li>
    <li>Eric Davis</li>
  </ul>
  
  <br />
  
  <h2><strong>Our current Officers:</strong></h2>

  <ul>
    <li>Michael Gunderloy, President</li>
    <li>Michael Breen, Vice President</li>
    <li>Sarah Allen, Secretary</li>
    <li>Dana Jones, Treasurer</li>
  </ul>
  
  <br />
  
  <h1>Important Documents</h1>
  <% @documents.each do |document| %>
  <div class="document">
	<p>
	<%= link_to "Download", document.download.url %> 
	<strong><%= h document.name %></strong>
  
      <%=h document.description %>
	</p>
  </div>
  <% end %>
</div>