<div id="fullWidthContainer">
	
	<div id="leftContainer">
		<h1>RailsBridge Badges</h1>

		<h2 class="strong">Add a badge to your blog, social network, profile or website and show your support</h2>
		<p>Copy and past the embed code below.</p>
	
		<div class="">
		  <%= image_tag("railsbridge_badge.png") %>
		</div>
		<strong>HTML embed code</strong><br />
		<p>
<textarea id="badgeEmbedCode" cols="55" rows="3">
<a href="http://www.railsbridge.org" title="An inclusive and friendly Ruby on Rails community.">
<img src="http://www.railsbridge.org/images/railsbridge_badge.png" alt="RailsBridge Badge" /></a>
</textarea>
		</p>
		<p class="strong">More coming soon...</p>
	</div>
	
	<div id="rightContainer">
		<h1>Donate to RailsBridge</h1>
		<p>via PayPal</p>
		
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<p>
		    <input type="hidden" name="cmd" value="_s-xclick" />
		    <input type="hidden" name="hosted_button_id" value="7054082" />
		    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" />
		    <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
			</p>
	    </form>
	</div>
	
</div>