<h2>RailsBridge Sponsors:</h2>
<p>
  RailsBridge would like to thank the people and organizations who are contributing to our success, including:
</p>
<div class="sponsors">
  <%= sponsor "http://www.github.com","github.png","GitHub - Social code hosting",
  "GitHub is providing a free account for RailsBridge to host our projects, including some work that we are doing for Builders clients." %>
  <%= sponsor "http://www.lessaccounting.com","lessaccounting.png","LessAccounting - Finally, Stress-Free Accounting!",
  "LessAccounting is providing a free account for RailsBridge to keep track of our bookkeeping." %>
  <%= sponsor "http://www.railsrumble.com","railsrumble.png","RailsRumble",
  "The 2009 Rails Rumble made RailsBridge one of the organizations that you could sponsor as part of your entry fee, bringing in numerous donations." %>
</div>
<div class="clear"></div>
<p>
  RailsBridge is also directly supported by donations from RailsBridge members. We are not yet a tax-deductible organization, but our application for 501c3
  status is in progress. If you're interested in donating in advance of 501c3 approval, we can accept checks or PayPal payments; please contact our 
  Treasurer, <%= mail_to "djones@larkfarm.com", "Dana Jones", :encode => "javascript" %> if you are interested in donating.
</p>