<h2>RailsBridge Sponsors:</h2>
<p>
  RailsBridge would like to thank the people and organizations who are contributing to our success, including:
</p>
<div class="sponsors">
  <div class="sponsor">
    <div class="logo">
    	<a href="http://www.github.com" target="_blank"><%= image_tag "sponsors/github.png", {:alt => "GitHub - Social code hosting", :title => "GitHub - Social code hosting"} %></a>
    </div>
    <div class="plug">
      <p>
        GitHub is providing a free account for RailsBridge to host our projects, including some work that we are doing for Builders clients.
      </p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="sponsor">
    <div class="logo">
    	<a href="http://www.lessaccounting.com" target="_blank"><%= image_tag "sponsors/lessaccounting.png", {:alt => "LessAccounting - Finally, Stress-Free Accounting!", :title => "LessAccounting - Finally, Stress-Free Accounting!"} %></a>
    </div>
    <div class="plug">
      <p>
        LessAccounting is providing a free account for RailsBridge to keep track of our bookkeeping.
      </p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="sponsor">
    <div class="logo">
    	<a href="http://www.railsrumble.com" target="_blank"><%= image_tag "sponsors/railsrumble.png", {:alt => "RailsRumble", :title => "RailsRumble"} %></a>
    </div>
    <div class="plug">
      <p>
        The 2009 Rails Rumble made RailsBridge one of the organizations that you could sponsor as part of your entry fee, bringing in numerous donations.
      </p>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
<p>
  RailsBridge is also directly supported by donations from RailsBridge members. We are not yet a tax-deductible organization, but our application for 501c3
  status is in progress. If you're interested in donating in advance of 501c3 approval, we can accept checks or PayPal payments; please contact our 
  Treasurer, <%= mail_to "djones@larkfarm.com", "Dana Jones", :encode => "javascript" %> if you are interested indonating.
</p>