<h2>RailsBridge Sponsors:</h2>
<p>
	<a href="http://www.github.com" target="_blank"><%= image_tag "sponsors/github.png", {:alt => "GitHub - Social code hosting", :title => "GitHub - Social code hosting"} %></a>
</p>
<p>
	<a href="http://www.lessaccounting.com" target="_blank"><%= image_tag "sponsors/lessaccounting.png", {:alt => "LessAccounting - Finally, Stress-Free Accounting!", :title => "LessAccounting - Finally, Stress-Free Accounting!"} %></a>
</p>
<p>
	<a href="http://www.railsrumble.com" target="_blank"><%= image_tag "sponsors/railsrumble.png", {:alt => "RailsRumble", :title => "RailsRumble"} %></a>
</p>
